.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent !important;
}

.library-song {
  cursor: pointer;

  background: transparent;

  &:hover {
    color: black;
  }
}

.active {
  border-bottom: 0.5px solid black;
}

.btn:focus {
  box-shadow: none !important;
}

// for chrome scrollbar
